<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blogen</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="<%=htmlbody%>">

  <nav class="navbar navbar-expand-lg <%=navdark%> p-0">
    <div class="container">
      <a class="navbar-brand" href="#">Blogen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active px-2">
            <a class="nav-link active" href="dashboard.html">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="post.html">Posts</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="category.html">Categories</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="user.html">Users</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">


          <li class="nav-item dropdown mr-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> Welcome <%=name%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="login.html"> <i class="fas fa-user-circle"></i> Profile</a>
              <a class="dropdown-item" href="setting.html"> <i class="fas fa-cog"></i> Settings</a>

            </div>
          </li>
          <li class="nav-item">
            <a href="index.html" class="nav-link"> <i class="fas fa-user-times"></i> logout</a>
          </li>

</ul>

      </div>
    </div>

  </nav>

<section id="main-header" class="py-2 <%=headerdark%>">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1> <i class="fas fa-cog"></i> Dashboard </h1>
      </div>
    </div>
  </div>
</section>


<section id="action" class="py-4 <%=dark%> mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block mb-2" data-toggle="modal" data-target="#modalpost"> <i class="fas fa-plus"></i> Add Post </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-success btn-block mb-2" data-toggle="modal" data-target="#modalcategory"> <i class="fas fa-plus"></i> Add Categories </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-warning btn-block mb-2" data-toggle="modal" data-target="#modaluser"> <i class="fas fa-plus"></i> Add User </a>
      </div>

    </div>
  </div>
</section>


<div class="modal hide" id="modalpost">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Add Post</h5>
        <button type="button" class="close" data-dismiss="modal" name="button"> <span>&times;</span> </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="" value="">
          </div>
          <div class="form-group">
            <select class="form-control" name="">
              <option value="">Web development</option>
              <option value="">Tech gadgets</option>
              <option value="">Buisness</option>
              <option value="">Health & wellness</option>
            </select>
          </div>
          <div class="form-group">
            <label for="image">Upload image</label>
            <div class="custom-file">
              <input type="file" name="" class="custom-file-input" id="image" value="">
              <label for="image" class="custom-file-label">Choose File</label>

            </div>
            <small class="form-text text-muted">Max size 3mb</small>
          </div>
          <div class="form-group">
            <label for="">Body</label>
            <textarea name="editor1"class="form-control" rows="10" cols="40"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary" data-dismiss="modal" name="button">Submit</button>
      </div>
    </div>
  </div>

</div>


<div class="modal hide" id="modalcategory">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" name="button"> <span>&times;</span> </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title">Category</label>
            <input type="text" class="form-control" name="" value="">
          </div>

        </form>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-success" data-dismiss="modal" name="button">Submit</button>
      </div>
    </div>
  </div>

</div>
<div class="modal hide" id="modaluser">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" name="button"> <span>&times;</span> </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" name="" value="" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="title">Email</label>
            <input type="email" class="form-control" name="" value="" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="title">Password</label>
            <input type="password" class="form-control" name="" value="" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="title">Confirm Password</label>
            <input type="password" class="form-control" name="" value="" placeholder="Confirm Password">
          </div>

        </form>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" name="button">Submit</button>
      </div>
    </div>
  </div>

</div>


<section id="dashboard" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Latests Posts</h4>
          </div>
          <table class="table table-striped">
            <thead class="bg-dark text-white">
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Category</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class=" ">
                <td>1</td>
                <td>Post One</td>
                <td>Web Development</td>
                <td>May 10 2020</td>
                <td> <a href="details.html" class="btn btn-secondary"> <i class="fas fa-angle-double-right"></i></a> Details</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Post two</td>
                <td>Web Development</td>
                <td>May 10 2020</td>
                <td> <a href="details.html" class="btn btn-secondary"> <i class="fas fa-angle-double-right"></i></a> Details</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Post three</td>
                <td>Web Development</td>
                <td>May 10 2020</td>
                <td> <a href="details.html" class="btn btn-secondary"> <i class="fas fa-angle-double-right"></i></a> Details</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Post four</td>
                <td>Web Development</td>
                <td>May 10 2020</td>
                <td> <a href="details.html" class="btn btn-secondary"> <i class="fas fa-angle-double-right"></i></a> Details</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Post five</td>
                <td>Web Development</td>
                <td>May 10 2020</td>
                <td> <a href="details.html" class="btn btn-secondary"> <i class="fas fa-angle-double-right"></i></a> Details</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Post six</td>
                <td>Web Development</td>
                <td>May 10 2020</td>
                <td> <a href="details.html" class="btn btn-secondary"> <i class="fas fa-angle-double-right"></i></a> Details</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Post seven</td>
                <td>Web Development</td>
                <td>May 10 2020</td>
                <td> <a href="details.html" class="btn btn-secondary"> <i class="fas fa-angle-double-right"></i></a> Details</td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

<div class="col-md-3">
   <div class="card text-white bg-primary text-center mb-3">
     <div class="card-body">
       <h3>Posts</h3>
       <h4 class="display-4"> <i class="fas fa-pencil-alt"></i> 7</h4>
       <a href="post.html" class="btn btn-outline-light btn-sm">View</a>
     </div>
   </div>
   <div class="card text-white bg-success text-center mb-3">
     <div class="card-body">
       <h3>Categories</h3>
       <h4 class="display-4"> <i class="fas fa-folder"></i> 4</h4>
       <a href="category.html" class="btn btn-outline-light btn-sm">View</a>
     </div>
   </div>
   <div class="card text-white bg-warning text-center mb-3">
     <div class="card-body">
       <h3>Users</h3>
       <h4 class="display-4"> <i class="fas fa-users"></i> 5</h4>
       <a href="user.html" class="btn btn-outline-light btn-sm">View</a>
     </div>
   </div>
</div>

    </div>
  </div>
</section>

<footer id="main-footer" class=" bg-dark text-light text-center p-5 mt-2">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy;
            <span id="year"></span> Blogan</p>

        </div>
      </div>
    </div>
  </footer>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>


  <script>
    CKEDITOR.replace( 'editor1' );

$('#year').text(new Date().getFullYear());

  </script>

</body>

</html>
